@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,600;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  background-color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}
.bee {
  padding: 150px 0;
}
.swiper-slide {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-prev::after {
  font-size: 25px;
}
.swiper-button-next::after {
  font-size: 25px;
}
.swiper-button-next {
  color: yellow;
}
.swiper-button-prev {
  color: yellow;
}
.swiper-pagination-bullet {
  color: rgb(0, 0, 0);
  opacity: 1;
}
.swiper-pagination-bullet-active {
  color: rgb(165, 165, 52);
  opacity: 1;
}
.menu {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
.menu.logo img {
  width: 30px;
}
.menu .navbar ul li {
  position: relative;
  float: left;
}
.menu .navbar ul li a {
  font-size: 30px;
  padding: 20px;
  color: rgb(253, 253, 253);
  display: block;
}
.menu .navbar ul li a:hover {
  color: white;
}
#menu {
  display: none;
}
.menu-icono {
  width: 25px;
  text-align: left;
}
.menu label {
  cursor: pointer;
}
.header-content {
  text-align: right;
  margin-top: 100px;
}
.slider {
  width: 1100px;
}
.enlace {
  display: inline-block;
  color: rgb(245, 245, 245);
  margin-top: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: larger;
}
.product img {
  height: 250px;
}
.product-txt {
  margin-top: 25px;
}
.product-txt h4 {
  color: rgb(187, 253, 5);
  margin: 0;
}
.product-txt p {
  color: rgb(187, 253, 5);
  font-size: 19px;
  margin: 0;
}
.price {
  color: rgb(255, 255, 255);
}
.nosotros{
padding: 80px 0px;
background-image: linear-gradient(rgba(20,20,20,0.5),rgba(20,20,20,0.9)), url(images/seccion.jpg);
background-position: center;
background-position: center bottom;
background-repeat: no-repeat;
background-size: cover;
}
.nosotros-txt h2{
color: rgb(187, 253, 5);
font-size: 80px;
font-weight: 800;
text-transform: uppercase;
line-height: 100px;
}
.nosotros-txt p{
  color: rgb(187, 253, 5);
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 100px;
  }
  .nosotros-txt span{
    color: rgb(187, 253, 5);
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 100px;
    }
    .info{
      text-align: center;
    }
    hr{
      border: 2px solid rgb(187, 253, 5); ;
    }
    .footer-txt{
padding-top: 50px;
display: flex;
flex-direction: column;
align-items: center;

    }
    .footer-txt img{
      width: 60px;

    }
    .links ul {
display: flex;
justify-content: space-between;
width: 500px;
color: aliceblue;
}
  .links p{
color: antiquewhite;
margin-top: 25px;
 }
        .links ul li a{
          color: aliceblue;
        }
        .socials{
margin-top: 30px;

}
.socials img{
width: 25px;
 margin: 0 15px;
 }
 @media(max-width:991px){
 .menu{
padding: 20px;
}
.menu label{
display: initial;
}

.menu .navbar{
position: absolute;
top: 100%;
left: 0;
right: 0;
background-color:rgb(2, 2, 2);
}

.menu .nabvar ul li{
width: 100%; }

.menu .nabvar ul li a {
color: rgb(10, 10, 10);

.menu .navbar ul li a:hover{
color: rgb(155, 155, 155); 

}
#menu:checked ~ .navbar{
display: initial;
 }
.header-content{
padding: 30px;
margin-top: 70;
}

.slider{
width: 420px;
}

.enlace{
font-size: 14px;
margin-top: 25px;

}

.bee {
  padding: 50px 30px;
  
}

.product{
  text-align: center;
}
.nosotros{
  padding: 30px;
}
      
.nosotros-txt h2{
  font-size: 50px;
  list-style: 70px;
}
.nosotros-txt p{
  font-size: 50px;
  list-style: 70px;
}
.nosotros-txt span{
  font-size: 50px;
  list-style: 70px;
}
.footer{
  padding: 30px;

}
.links{
  padding: 20px 0px;

}
.links ul{
flex-direction: column;
width: 200px;
}

.links ul li a{
  display: block;
  margin-bottom: 15px;
}

}